.typography-container {
  background-color: rgba(221, 248, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: start;
  padding: 77px 46px 162px;
}
.color-palette {
  width: 677px;
  max-width: 100%;
}
.color-circles {
  gap: 20px;
  display: flex;
}
.circle-wrapper {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0;
}
.circle-primary {
  background-color: rgba(0, 4, 255, 1);
  border-radius: 50%;
  display: flex;
  width: 152px;
  height: 152px;
  margin: 0 auto;
}
.circle-secondary {
  background-color: rgba(0, 142, 199, 1);
  border-radius: 50%;
  display: flex;
  width: 152px;
  height: 152px;
  margin: 0 auto;
}
.circle-dark {
  background-color: rgba(30, 30, 30, 1);
  border-radius: 50%;
  display: flex;
  width: 152px;
  height: 152px;
  margin: 0 auto;
}
.circle-light {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  width: 152px;
  height: 152px;
  margin: 0 auto;
}
.typography-content {
  width: 100%;
  max-width: 1121px;
  margin: 89px 0 0 35px;
}
.content-wrapper {
  gap: 20px;
  display: flex;
}
.image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 56%;
  margin-left: 0;
}
.typography-image {
  aspect-ratio: 1.11;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
.text-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}
.font-showcase {
  display: flex;
  margin-top: 189px;
  flex-direction: column;
  align-items: start;
  font-size: 40px;
  color: rgba(30, 30, 30, 1);
  font-weight: 400;
}
.heading-airborne {
  font: 50px Airborne, sans-serif;
}
.subheading-igra {
  font-family: Igra Sans, sans-serif;
  margin-top: 38px;
}
.body-montserrat {
  font-family: Montserrat Alternates, -apple-system, Roboto, Helvetica, sans-serif;
  align-self: stretch;
  margin-top: 16px;
}
@media (max-width: 991px) {
  .typography-container {
    padding: 0 20px 100px;
  }
  .color-circles {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .circle-wrapper {
    width: 100%;
  }
  .circle-primary,
  .circle-secondary,
  .circle-dark,
  .circle-light {
    margin-top: 19px;
  }
  .typography-content {
    max-width: 100%;
    margin-top: 40px;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .image-column,
  .text-column {
    width: 100%;
    margin-left: 0;
  }
  .typography-image {
    max-width: 100%;
    margin-top: 40px;
  }
  .font-showcase {
    max-width: 100%;
    margin-top: 40px;
  }
  .heading-airborne {
    font-size: 40px;
  }
  .body-montserrat {
    max-width: 100%;
  }
}