    /* Light Theme Styles (default) */
    :root {
        --background-color: #ddf8ff;
        --text-color: #1e1e1e;
        --small-back: #ffffff;
      }
    
      .reviews-container {
        background: var(--background-color);
      }
    
      .navigation-bar, .feedback-section, .footer, .content-container {
        background-color: var(--small-back);
      }

      .reviews-title, .menu-items, .feedback-form, .copyright-text, .hero-title, .section-title, .requirements-details,
      .features-title, .card-content, .main-title, .image-wrapper, .form-title {
        color: var(--text-color);
      }

      /* Dark Theme Styles */
      .dark-mode {
        --background-color: #121212;
        --text-color: #ffffff;
        --small-back:  #1e1e1e;
      }
    
      /* Toggle Button Styles */
      .theme-toggle-btn {
        background: none;
        border: none;
        color: inherit;
        font-size: 24px;
        cursor: pointer;
        margin-left: 20px;
      }